body {
    background-color: black;

    .all {
        background-color: #00dbeb;
        background-image: url("https://www.transparenttextures.com/patterns/dark-brick-wall.png");
        /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
        font-family: 'Roboto', sans-serif;
        display: flex;
        //max-height: 100vh;

    }

    .leftWrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        //background-color: gray;
        margin: 1vh 0.5vw 1vh 1vw;
        width: 48vw;
        height: 98vh;
        border-radius: 10px;

        .coins {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: black;
            color: white;
            height: 5vh;
            //margin: 1vh 1vw;
            border-radius: 5px;
            border: solid 5px lightgrey;
            font-size: 1.2rem;

            i {
                color: goldenrod;
            }
        }

        .shopMenu {

            .shopNav {
                display: flex;
                padding-inline: 3px;


                .shop {
                    background-image: url("../img/wood.jpg");
                    display: grid;
                    align-content: center;
                    justify-content: center;
                    margin: 0px 5px 0px 5px;
                    height: 4.3vh;
                    width: 5.5vw;
                    border: 3px silver;
                    border-style: solid solid none solid;
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;


                    img {
                        height: 3.4vh;
                    }

                    i {
                        color: black;
                        font-size: 2rem;
                    }
                }


            }

            .shopMain {
                background-image: url("../img/wood.jpg");
                height: 83vh;
                border: solid 5px silver;
                border-radius: 10px;
                overflow-y: scroll;
                //background-color: black;
                background-repeat: repeat-y;
                background-position: center;


                .character {
                    display: flex;
                    justify-content: space-between;
                    height: 14vh;
                    background-color: burlywood;
                    border-radius: 10px;
                    margin-block: 5px;
                    margin-inline: 5px;
                    padding: 5px;
                    gap: 1%;

                    .img {
                        width: 18%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            //width: 6vw;
                            max-width: 100%;
                            max-height: 100%;
                            border-radius: 10px;
                            border: solid 2px;

                            //width: auto;
                        }
                    }

                    .stats {
                        width: 65%;
                        //margin-block: 5px;

                        .name {
                            font-size: 20px;
                            font-weight: 500;
                        }

                        .level {
                            font-size: 15px;
                            font-weight: 400;
                        }
                    }

                    .upgrade {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 17%;
                        border: solid 0.3rem white;
                        border-radius: 15px;
                        background-color: #854708;
                        font-size: 1.5rem;
                        margin-block: 25px;

                        i {

                            //border: solid 5px;
                            stroke: black;
                            stroke-width: 10px;
                            color: goldenrod;
                        }
                    }
                }
            }

            ::-webkit-scrollbar-track {
                border: 5px solid white;
                // border color does not support transparent on scrollbar
                border-color: transparent;
                //background-color: #b2bec3;
                //background-image: url("../img/wood.jpg");
                //background: transparent;
                
            }

            ::-webkit-scrollbar {
                width: 15px;
                //background-color: #dfe6e9;
                //background-color: red;
                //background-image: url("../img/wood.jpg");
                
            }

            ::-webkit-scrollbar-thumb {
                background-color: #74b9ff;
                border-radius: 10px;
            }
        }
    }

    .rightWrap {
       
        margin: 1vh 1vw 1vh 0.5vw;
        width: 48vw;
        height: 98vh;
        //background-color: white;
        border-radius: 10px;
        display: flex;
        align-items: end;
        justify-content: center;
    }
}