body {
  background-color: black;
}
body .all {
  background-color: #00dbeb;
  background-image: url("https://www.transparenttextures.com/patterns/dark-brick-wall.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  font-family: "Roboto", sans-serif;
  display: flex;
}
body .leftWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1vh 0.5vw 1vh 1vw;
  width: 48vw;
  height: 98vh;
  border-radius: 10px;
}
body .leftWrap .coins {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: 5vh;
  border-radius: 5px;
  border: solid 5px lightgrey;
  font-size: 1.2rem;
}
body .leftWrap .coins i {
  color: goldenrod;
}
body .leftWrap .shopMenu .shopNav {
  display: flex;
  padding-inline: 3px;
}
body .leftWrap .shopMenu .shopNav .shop {
  background-image: url("../img/wood.jpg");
  display: grid;
  align-content: center;
  justify-content: center;
  margin: 0px 5px 0px 5px;
  height: 4.3vh;
  width: 5.5vw;
  border: 3px silver;
  border-style: solid solid none solid;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
body .leftWrap .shopMenu .shopNav .shop img {
  height: 3.4vh;
}
body .leftWrap .shopMenu .shopNav .shop i {
  color: black;
  font-size: 2rem;
}
body .leftWrap .shopMenu .shopMain {
  background-image: url("../img/wood.jpg");
  height: 83vh;
  border: solid 5px silver;
  border-radius: 10px;
  overflow-y: scroll;
  background-repeat: repeat-y;
  background-position: center;
}
body .leftWrap .shopMenu .shopMain .character {
  display: flex;
  justify-content: space-between;
  height: 14vh;
  background-color: burlywood;
  border-radius: 10px;
  margin-block: 5px;
  margin-inline: 5px;
  padding: 5px;
  gap: 1%;
}
body .leftWrap .shopMenu .shopMain .character .img {
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .leftWrap .shopMenu .shopMain .character .img img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  border: solid 2px;
}
body .leftWrap .shopMenu .shopMain .character .stats {
  width: 65%;
}
body .leftWrap .shopMenu .shopMain .character .stats .name {
  font-size: 20px;
  font-weight: 500;
}
body .leftWrap .shopMenu .shopMain .character .stats .level {
  font-size: 15px;
  font-weight: 400;
}
body .leftWrap .shopMenu .shopMain .character .upgrade {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17%;
  border: solid 0.3rem white;
  border-radius: 15px;
  background-color: #854708;
  font-size: 1.5rem;
  margin-block: 25px;
}
body .leftWrap .shopMenu .shopMain .character .upgrade i {
  stroke: black;
  stroke-width: 10px;
  color: goldenrod;
}
body .leftWrap .shopMenu ::-webkit-scrollbar-track {
  border: 5px solid white;
  border-color: transparent;
}
body .leftWrap .shopMenu ::-webkit-scrollbar {
  width: 15px;
}
body .leftWrap .shopMenu ::-webkit-scrollbar-thumb {
  background-color: #74b9ff;
  border-radius: 10px;
}
body .rightWrap {
  margin: 1vh 1vw 1vh 0.5vw;
  width: 48vw;
  height: 98vh;
  border-radius: 10px;
  display: flex;
  align-items: end;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */